
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

            

<table class="table table-dark">
    <thead>
        <th>ID</th>
        <th>Employee Name</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Updatated Date</th>
        <th>Mobile No.</th>
        <th>Country</th>

    </thead>
    <tbody>
        <tr *ngFor="let item of EmpData">
            <td> {{item.id}} </td>
            <td> {{item.name}} </td>
            <td> {{item.status}} </td>
            <td> {{item.createddtm}} </td>
            <td> {{item.updateddtm}} </td>
            <td> {{item.phoneno}} </td>
            <td> {{item.country.cname}} </td>
        </tr>
    </tbody>
</table>

        </div>
    </div>

</div>

