<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- 
<div>
    <app-user *ngFor="let item of [1,2,3]"></app-user>
</div> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-task5></app-task5> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-custom-service></app-custom-service> -->
<app-http></app-http>