<p>event-binding works!</p>

<!-- click event -->

<button (click)="onClick()">Click</button><br><br>

<img src="../../assets/bg.jpeg" 
alt="" (click)="onClick2()">
<hr>
<!-- $event => it is special variable 
    given by the angular -->
<!-- it give current dom element information -->

<button (click)="onClcik3($event)"
value="Doller Event"
> Click2 </button>
<hr>

<button (click)="result=2+2"> Send </button>
{{result}} <br><br>

<button (click)="onSend()" > Send1 </button> <br>
<input type="text" [value]="name">
